
.darkT{
  color: #fff;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.lightT{
  color: black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  margin-bottom: 3%;
  padding-top: 2%;
  align-items: center;
}
/* .search form {
  width: 400px;
  display: flex;
  align-items: center;
} */
.searchInput{
  width: 350px;
  height: 30px;
  border-radius: 10px;
  border: 5px double;
}
.themebtn{
  margin-top: 2%;
  /* margin-left: 25%; */
  height: 25px;
  margin-left: 90%;
}
.darkT table, th{
  border: 1px solid white;
}
.lightT table, th {
  border: 1px solid black;
}